.header-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #465062;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}