.button{
    display: flex;
    width: 150px;
    height: 27px;
    background-color: #EAECEF;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}

.button_text{
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
}

.button:hover{
    background-color: #d9dadb;
}